
table {
    background-color: lightgrey;
    color: white;
    width: 80%; 
    border-collapse: collapse;
    margin: 0 auto; 
}

th {
    text-align: left;
    padding: 3px; 
    border: 1px solid white;
}

td {
    text-align: left;
    padding: 3px; 
    border: 1px solid white;
}

tr.page-row {
    background-color: #ff9900; 
}

tr.panel-row {
    background-color: #f0f0f0; 
}


body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
}


h1 {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

a:hover {
    color: #ffcc00; 
}


#reading-view {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}


.page {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
}


p {
    margin-bottom: 10px;
    line-height: 1.5;
}


.panel {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}


.cbml-caption {
    font-style: italic;
}


.balloon {
    background-color: #ffcc00;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

 