body {
    font-family: Arial, sans-serif;
    color: white;
}
div {
    background-color: black;
}

ul {
    color:black;
}

li {
    color:black;
}



h1 {
    color: black;
}

h2 {
    color: grey;
}

span {
    font-weight: bold;
}

span[style*="color: blue;"] {
    color: blue;
}

span[style*="color: green;"] {
    color: green;
}

span[style*="color: red;"] {
    color: red;
}

span[style*="color: purple;"] {
    color: purple;
}

span[style*="color: orange;"] {
    color: orange;
}

span[style*="color: grey;"] {
    color: grey;
}
